/dist
/node_modules
/coverage
/test
/tests
/reports
/results
/test-results
/test-reports
/playwright-report
/.nyc_output
**/__tests__/
*.test.js
*.test.jsx
*.test.ts
*.test.tsx
*.spec.js
*.spec.jsx
*.spec.ts
*.spec.tsx
*.e2e-spec.js
*.e2e-spec.ts
*.lcov
junit*.xml
.env
.env.*
!.env.example
*.log
.DS_Store
